.layout {
  min-height: 100vh;
}

.nav-header{
  margin: 10px;
  border-radius: 10px;
}

.header {
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items:center;
}

.container-query-result {
  display: flex;
  align-items: end;
  justify-content: center;
}

.upload-drag-icon {
  color: rgb(190, 219, 240);
  font-size: 45px
}

.upload-text {
  display: wrap;
  font-size: 13px;
  color: rgb(190, 219, 240);
}

.icon-container {
  display: inline-block;
  padding: 8px;
  /* border: 2px dashed aquamarine; /* Cambia el color del borde según prefieras */
  /*border-radius: 5px; */
}

.left-sider {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: white;
  padding: 24px
}

.text-container {
  max-height: 300px;
  margin: 0 10px 10px 0;
  overflow: auto; /* Permite el desplazamiento si el contenido excede el ancho máximo */
  white-space: normal; /* Permite que el texto se ajuste automáticamente a nuevas líneas */
}